<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>luntan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>servlet.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_check</display-name>
    <servlet-name>login_check</servlet-name>
    <servlet-class>servlet.login_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_check</servlet-name>
    <url-pattern>/login_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_update</display-name>
    <servlet-name>user_update</servlet-name>
    <servlet-class>servlet.user_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_update</servlet-name>
    <url-pattern>/user_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiaohui</display-name>
    <servlet-name>xiaohui</servlet-name>
    <servlet-class>servlet.xiaohui</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiaohui</servlet-name>
    <url-pattern>/xiaohui</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>find_user</display-name>
    <servlet-name>find_user</servlet-name>
    <servlet-class>servlet.find_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>find_user</servlet-name>
    <url-pattern>/find_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>echo_user</display-name>
    <servlet-name>echo_user</servlet-name>
    <servlet-class>servlet.echo_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>echo_user</servlet-name>
    <url-pattern>/echo_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_user_touxiang</display-name>
    <servlet-name>update_user_touxiang</servlet-name>
    <servlet-class>servlet.update_user_touxiang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_user_touxiang</servlet-name>
    <url-pattern>/update_user_touxiang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadimg</display-name>
    <servlet-name>uploadimg</servlet-name>
    <servlet-class>servlet.uploadimg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadimg</servlet-name>
    <url-pattern>/uploadimg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>photo_alum_echo</display-name>
    <servlet-name>photo_alum_echo</servlet-name>
    <servlet-class>servlet.photo_alum_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photo_alum_echo</servlet-name>
    <url-pattern>/photo_alum_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>archive_echo</display-name>
    <servlet-name>archive_echo</servlet-name>
    <servlet-class>servlet.archive_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>archive_echo</servlet-name>
    <url-pattern>/archive_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reply_echo</display-name>
    <servlet-name>reply_echo</servlet-name>
    <servlet-class>servlet.reply_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reply_echo</servlet-name>
    <url-pattern>/reply_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_qianming</display-name>
    <servlet-name>update_qianming</servlet-name>
    <servlet-class>servlet.update_qianming</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_qianming</servlet-name>
    <url-pattern>/update_qianming</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_nicheng</display-name>
    <servlet-name>update_nicheng</servlet-name>
    <servlet-class>servlet.update_nicheng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_nicheng</servlet-name>
    <url-pattern>/update_nicheng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_sex</display-name>
    <servlet-name>update_sex</servlet-name>
    <servlet-class>servlet.update_sex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_sex</servlet-name>
    <url-pattern>/update_sex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_phone</display-name>
    <servlet-name>update_phone</servlet-name>
    <servlet-class>servlet.update_phone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_phone</servlet-name>
    <url-pattern>/update_phone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_user</display-name>
    <servlet-name>update_user</servlet-name>
    <servlet-class>servlet.update_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_user</servlet-name>
    <url-pattern>/update_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fabiao_echo</display-name>
    <servlet-name>fabiao_echo</servlet-name>
    <servlet-class>servlet.fabiao_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fabiao_echo</servlet-name>
    <url-pattern>/fabiao_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_text</display-name>
    <servlet-name>new_text</servlet-name>
    <servlet-class>servlet.new_text</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_text</servlet-name>
    <url-pattern>/new_text</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>text_paixu</display-name>
    <servlet-name>text_paixu</servlet-name>
    <servlet-class>servlet.text_paixu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>text_paixu</servlet-name>
    <url-pattern>/text_paixu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiangce_echo</display-name>
    <servlet-name>xiangce_echo</servlet-name>
    <servlet-class>servlet.xiangce_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiangce_echo</servlet-name>
    <url-pattern>/xiangce_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_xaingce</display-name>
    <servlet-name>new_xaingce</servlet-name>
    <servlet-class>servlet.new_xaingce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_xaingce</servlet-name>
    <url-pattern>/new_xaingce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_alum</display-name>
    <servlet-name>new_alum</servlet-name>
    <servlet-class>servlet.new_alum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_alum</servlet-name>
    <url-pattern>/new_alum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_main</display-name>
    <servlet-name>update_main</servlet-name>
    <servlet-class>servlet.update_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_main</servlet-name>
    <url-pattern>/update_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>single_text</display-name>
    <servlet-name>single_text</servlet-name>
    <servlet-class>servlet.single_text</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>single_text</servlet-name>
    <url-pattern>/single_text</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_vote</display-name>
    <servlet-name>update_vote</servlet-name>
    <servlet-class>servlet.update_vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_vote</servlet-name>
    <url-pattern>/update_vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friend_echo</display-name>
    <servlet-name>friend_echo</servlet-name>
    <servlet-class>servlet.friend_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friend_echo</servlet-name>
    <url-pattern>/friend_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>group_add</display-name>
    <servlet-name>group_add</servlet-name>
    <servlet-class>servlet.group_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>group_add</servlet-name>
    <url-pattern>/group_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_group</display-name>
    <servlet-name>add_group</servlet-name>
    <servlet-class>servlet.add_group</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_group</servlet-name>
    <url-pattern>/add_group</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>del_group</display-name>
    <servlet-name>del_group</servlet-name>
    <servlet-class>servlet.del_group</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>del_group</servlet-name>
    <url-pattern>/del_group</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>visitor_echo</display-name>
    <servlet-name>visitor_echo</servlet-name>
    <servlet-class>servlet.visitor_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visitor_echo</servlet-name>
    <url-pattern>/visitor_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>visitor_archive</display-name>
    <servlet-name>visitor_archive</servlet-name>
    <servlet-class>servlet.visitor_archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visitor_archive</servlet-name>
    <url-pattern>/visitor_archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>visitor_message</display-name>
    <servlet-name>visitor_message</servlet-name>
    <servlet-class>servlet.visitor_message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visitor_message</servlet-name>
    <url-pattern>/visitor_message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>visitor_album</display-name>
    <servlet-name>visitor_album</servlet-name>
    <servlet-class>servlet.visitor_album</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visitor_album</servlet-name>
    <url-pattern>/visitor_album</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>photo_echo</display-name>
    <servlet-name>photo_echo</servlet-name>
    <servlet-class>servlet.photo_echo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photo_echo</servlet-name>
    <url-pattern>/photo_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_reply</display-name>
    <servlet-name>new_reply</servlet-name>
    <servlet-class>servlet.new_reply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_reply</servlet-name>
    <url-pattern>/new_reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search_text</display-name>
    <servlet-name>search_text</servlet-name>
    <servlet-class>servlet.search_text</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search_text</servlet-name>
    <url-pattern>/search_text</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>text_sort</display-name>
    <servlet-name>text_sort</servlet-name>
    <servlet-class>servlet.text_sort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>text_sort</servlet-name>
    <url-pattern>/text_sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteText</display-name>
    <servlet-name>deleteText</servlet-name>
    <servlet-class>servlet.deleteText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteText</servlet-name>
    <url-pattern>/deleteText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAlbum</display-name>
    <servlet-name>deleteAlbum</servlet-name>
    <servlet-class>servlet.deleteAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAlbum</servlet-name>
    <url-pattern>/deleteAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_photo</display-name>
    <servlet-name>new_photo</servlet-name>
    <servlet-class>servlet.new_photo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_photo</servlet-name>
    <url-pattern>/new_photo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newphoto_echo</display-name>
    <servlet-name>newphoto_echo</servlet-name>
    <servlet-class>servlet.new_photo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newphoto_echo</servlet-name>
    <url-pattern>/newphoto_echo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_photo</display-name>
    <servlet-name>update_photo</servlet-name>
    <servlet-class>servlet.update_photo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_photo</servlet-name>
    <url-pattern>/update_photo</url-pattern>
  </servlet-mapping>
</web-app>